.todos-login {
    background: #5C7CAD;
    width: 400px;
    height: 550px;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
}
  
.todos-login h4 {
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 45px;
}

.todos-login form h6 {
    padding: 0px 0 0 30px;
    color: #FFFFFF;
}

.todos-login form h6 a {
    color: #FFFFFF;
}