main {
    background: #5C7CAD;
    height: 100vh;
}

main .btn-group {
    display: flex;
    justify-content: center;
}

main .btn-group .btn {
    width: 150px;
    height: 60px;
}

main .btn-group .btn:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}

main h1 {
    color: #FFFFFF;
    padding-top: 180px;
}