main {
    display: flex;
}

main .label {
    width: 300px;
    height: 214px;
    background: #5C7CAD;
    margin: auto;
    margin-top: 10%;
}

main .label .text {
    background: #BAE4F1;
}

main .label .text h4 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

main .label .card-label {
    background: #FFFFFF;
    width: 200px;
    margin: 20px;
    cursor: pointer;
}

main .label .card-label h4 {
    font-size: 18px;
    padding: 10px;
}