section {
    display: flex;
}

section .label {
    width: 400px;
    height: 300px;
    background: #5C7CAD;
    margin: auto;
    margin-top: 10%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.label::-webkit-scrollbar {
    width: 12px;
}

.label::-webkit-scrollbar-track {
    border-radius: 10px;
}

.label::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: darkgray;
}

.label::-webkit-scrollbar-thumb:window-inactive {
    background: #E8E8E8;
}

section .label .text {
    background: #BAE4F1;
}

section .label .text h4 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

section .label .card-label {
    background: #FFFFFF;
    width: 150px;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px auto;
}

section .label .card-label h4 {
    font-size: 18px;
    padding: 20px;
    text-align: center;
}