.nav {
    background: #CB4848;
    display: flex;
}

.nav h4 {
    padding: 20px;
    color: #FFFFFF;
}

.nav .navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav .navbar-nav .nav-item {
    cursor: pointer;
}

.nav .navbar-nav .nav-item h4 {
    font-size: 18px;
    padding: 30px;
}