section {
    display: flex;
}

section .label {
    width: max-content;
    height: 400px;
    background: #5C7CAD;
    margin: 5% auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.label::-webkit-scrollbar {
    width: 12px;
}

.label::-webkit-scrollbar-track {
    border-radius: 10px;
}

.label::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: darkgray;
}

.label::-webkit-scrollbar-thumb:window-inactive {
    background: #E8E8E8;
}

section .label .text {
    background: #BAE4F1;
}

section .label .text h4 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

section .label .item-label {
    justify-content: space-between;
}

section .label .card-label {
    margin-top: 40px;
}

section .label .card-label span {
    background: #FFFFFF;
    height: fit-content;
    padding: 20px;
    margin-left: 20px;
    margin-top: 33px !important;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

section .label .item-label,
section .label .item-label .group-btn {
    display: flex;
}

section .label .item-label .group-btn {
    margin-left: 30px;
    margin-right: 20px;
    display: flex;
}

section .label .item-label button {
    margin-left: 5px !important;
    margin-right: 0px !important;
}

.home {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 50px;
    cursor: pointer;
}

label {
    margin-top: 20px;
}

section .label form {
    display: flex;
}

section .label button {
    margin-top: 33px !important;
}

section .label input {
    margin-top: 0px;
}